@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Locadora</h2>
    <img class="img-home" src="~/images/filme.jpg" alt="Locadora" title="Locadora" />
</div>
