@using System;

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Locadora.WebApp</title>
    <link rel="icon" type="image/png" href="https://image.flaticon.com/icons/png/512/1179/1179069.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/bootstrap/dist/css/startbootstrap-simple-sidebar.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>

    <div class="d-flex" id="wrapper">
        <div class="border-end bg-light" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><i class="fas fa-file-video px-md-2"></i>Locadora</div>
            <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light"
                   asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home px-md-2"></i>
                    Início
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light"
                   asp-area="" asp-controller="Produtos" asp-action="Index">
                    <i class="fas fa-film px-md-2"></i>
                    Produtos
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light"
                   asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-list px-md-2"></i>
                    Locação
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light"
                   asp-area="" asp-controller="Cliente" asp-action="Create">
                    <i class="fas fa-plus-square px-md-2"></i>
                    Cliente
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light"                   
                   asp-area="" asp-controller="SolicitacaoReserva" asp-action="Index">
                    <i class="fas fa-id-badge px-md-2"></i>
                    Solicitar reserva
                </a>
            </div>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="container d-flex justify-content-end">
            &copy; 2021 - Locadora
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
